Data Engineer - Extract API Data

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [6]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=HgB72BZ3fqpJBwcHSPnpsU8ZkZQwOBDm" #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1678720743,
 'base': 'EUR',
 'date': '2023-03-13',
 'rates': {'AED': 3.937626,
  'AFN': 94.88349,
  'ALL': 114.584264,
  'AMD': 416.950554,
  'ANG': 1.933929,
  'AOA': 544.110471,
  'ARS': 215.120245,
  'AUD': 1.598601,
  'AWG': 1.92984,
  'AZN': 1.823011,
  'BAM': 1.967995,
  'BBD': 2.149932,
  'BDT': 113.181322,
  'BGN': 1.956375,
  'BHD': 0.404162,
  'BIF': 2230.037503,
  'BMD': 1.072133,
  'BND': 1.445605,
  'BOB': 7.419734,
  'BRL': 5.597292,
  'BSD': 1.073054,
  'BTC': 4.4208647e-05,
  'BTN': 88.099762,
  'BWP': 14.175299,
  'BYN': 2.70847,
  'BYR': 21013.81493,
  'BZD': 2.151421,
  'CAD': 1.467209,
  'CDF': 2197.873647,
  'CHF': 0.977014,
  'CLF': 0.031136,
  'CLP': 859.089609,
  'CNY': 7.333608,
  'COP': 5111.128022,
  'CRC': 588.04378,
  'CUC': 1.072133,
  'CUP': 28.411535,
  'CVE': 111.448661,
  'CZK': 23.689841,
  'DJF': 191.002646,
  'DKK': 7.444541,
  'DOP': 58.9673,
  'DZD': 145.720077,
  'EGP': 33.129571,
  'ERN': 16.082001,
  'ETB': 57.670253,
  'EUR': 1,
  'FJD': 2.370503,
  'FKP': 0.890853,
  'GBP': 0.881304,
  'GEL': 2.765675,
  'GGP': 0.890853,
  'GHS': 13.241063,
  'GIP': 0.890853,
  'GMD': 65.668194,
  'GNF': 9461.577336,
  'GTQ': 8.377104,
  'GYD': 226.281538,
  'HKD': 8.404186,
  'HNL': 26.459787,
  'HRK': 7.536097,
  'HTG': 165.013265,
  'HUF': 391.704079,
  'IDR': 16471.453685,
  'ILS': 3.888231,
  'IMP': 0.890853,
  'INR': 88.09211,
  'IQD': 1565.314786,
  'IRR': 45324.439872,
  'ISK': 151.267329,
  'JEP': 0.890853,
  'JMD': 164.374706,
  'JOD': 0.761427,
  'JPY': 142.402368,
  'KES': 138.433855,
  'KGS': 93.726323,
  'KHR': 4336.77954,
  'KMF': 495.164989,
  'KPW': 964.920073,
  'KRW': 1393.720395,
  'KWD': 0.328684,
  'KYD': 0.89427,
  'KZT': 489.610695,
  'LAK': 18186.599363,
  'LBP': 16376.837973,
  'LKR': 354.125973,
  'LRD': 171.115509,
  'LSL': 19.561064,
  'LTL': 3.165731,
  'LVL': 0.648523,
  'LYD': 5.205236,
  'MAD': 11.149651,
  'MDL': 20.082786,
  'MGA': 4631.616555,
  'MKD': 61.934652,
  'MMK': 2253.41571,
  'MNT': 3786.813685,
  'MOP': 8.668137,
  'MRO': 382.751445,
  'MUR': 50.550803,
  'MVR': 16.468158,
  'MWK': 1123.595962,
  'MXN': 20.190256,
  'MYR': 4.845512,
  'MZN': 67.652199,
  'NAD': 19.566315,
  'NGN': 493.738664,
  'NIO': 39.186841,
  'NOK': 11.294186,
  'NPR': 140.95982,
  'NZD': 1.714105,
  'OMR': 0.412747,
  'PAB': 1.073044,
  'PEN': 4.051056,
  'PGK': 3.779294,
  'PHP': 58.818849,
  'PKR': 300.727488,
  'PLN': 4.684805,
  'PYG': 7728.746571,
  'QAR': 3.903621,
  'RON': 4.919489,
  'RSD': 117.355146,
  'RUB': 80.539744,
  'RWF': 1174.522156,
  'SAR': 4.024597,
  'SBD': 8.790341,
  'SCR': 15.057941,
  'SDG': 636.846965,
  'SEK': 11.375067,
  'SGD': 1.443111,
  'SHP': 1.304519,
  'SLE': 21.88215,
  'SLL': 21174.634669,
  'SOS': 610.578831,
  'SRD': 36.41715,
  'STD': 22190.997058,
  'SVC': 9.389091,
  'SYP': 2693.769169,
  'SZL': 19.566558,
  'THB': 36.994503,
  'TJS': 11.717983,
  'TMT': 3.763188,
  'TND': 3.347238,
  'TOP': 2.539856,
  'TRY': 20.341061,
  'TTD': 7.286148,
  'TWD': 32.690739,
  'TZS': 2490.147206,
  'UAH': 39.628803,
  'UGX': 3990.821963,
  'USD': 1.072133,
  'UYU': 42.061613,
  'UZS': 12227.681745,
  'VEF': 2581691.733338,
  'VES': 25.843625,
  'VND': 25288.946922,
  'VUV': 128.001288,
  'WST': 2.988916,
  'XAF': 660.111896,
  'XAG': 0.049136,
  'XAU': 0.000561,
  'XCD': 2.897494,
  'XDR': 0.808506,
  'XOF': 663.117155,
  'XPF': 120.347316,
  'YER': 268.381819,
  'ZAR': 19.510795,
  'ZMK': 9650.485359,
  'ZMW': 21.801379,
  'ZWL': 345.226522}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [7]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1678720743  EUR  2023-03-13     3.937626
AFN     True  1678720743  EUR  2023-03-13    94.883490
ALL     True  1678720743  EUR  2023-03-13   114.584264
AMD     True  1678720743  EUR  2023-03-13   416.950554
ANG     True  1678720743  EUR  2023-03-13     1.933929
..       ...         ...  ...         ...          ...
YER     True  1678720743  EUR  2023-03-13   268.381819
ZAR     True  1678720743  EUR  2023-03-13    19.510795
ZMK     True  1678720743  EUR  2023-03-13  9650.485359
ZMW     True  1678720743  EUR  2023-03-13    21.801379
ZWL     True  1678720743  EUR  2023-03-13   345.226522

[170 rows x 5 columns]

In [9]:
# Drop unnescessary columns
dataframe.drop(['success','timestamp','base','date'], axis=1, inplace=True)

dataframe

           rates
AED     3.937626
AFN    94.883490
ALL   114.584264
AMD   416.950554
ANG     1.933929
..           ...
YER   268.381819
ZAR    19.510795
ZMK  9650.485359
ZMW    21.801379
ZWL   345.226522

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [10]:
# Save the Dataframe
dataframe.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).